@model List<Work>
@{
    ViewData["Title"] = "ListProjects";
}

<h1>Danh sách công việc</h1>
<div class="container">
    <a class="btn btn-link" asp-controller="Home" asp-action="AddWork">Thêm mới công việc</a>
    <main role="main" class="pb-3">
        <div asp-validation-summary="All"></div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Tên dự án</th>
                    <th>Mô tả</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (Work pro in Model)
                {
                <tr>
                    <td>@pro.WorkName</td>
                    <td>@pro.WorkDescription</td>
                    <td>
                        <a asp-action="EditWork" asp-route-workId="@pro.WorkId">Edit</a>/
                        <a asp-action="DeleteWork" asp-route-workId="@pro.WorkId">Delete</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </main>
</div>
